html, body {
  margin: 0;
  height: 100%;
  font-size: 15px;
  color: rgb(20, 23, 26);
}

.rounded-corners {
  border-radius: 15px;
}

.my-font {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

.black-text {
  color: rgb(20, 23, 26);
}

.black-bold-text {
  color: rgb(20, 23, 26); 
  font-weight: bold; 
}

.black-bold-text:hover {
  color: rgb(20, 23, 26); 
  font-weight: bold; 
}

.gray-text {
  color: rgb(101, 119, 134);
}

.gray-text:hover {
  color: rgb(101, 119, 134);
}

.red-text {
  color: rgb(224, 36, 94);
}

.light-blue-text {
  color: rgb(29, 161, 242);
}

.green-text {
  color: rgb(23, 191, 99);
}

.light-blue-bg {
  background-color:rgba(29,161,242,1.00);
}

.rounded-left-right {
  border-bottom-left-radius: 9999px; 
  border-bottom-right-radius: 9999px; 
  border-top-left-radius: 9999px; 
  border-top-right-radius: 9999px;
}

a {
  cursor: pointer;
}

#global-alert {
  display: none;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/*
=====
Pages
=====
*/

.login-page {
  display: none;
}

.profile-page {
  display: none;
}

.search-page {
  display: none;
}

/*
==================
Navigation Sidebar
==================
*/

#navigation-sidebar-container {
  display: none;
  max-width: 20%;
}

.navigation-sidebar {
  padding-right: 10px;
}

.nav-button {
  padding: 10px;
  font-size: 19px;
  transition-property: background-color;
  transition-duration: 0.2s;
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgba(29,161,242,0.1);
  color:rgba(29,161,242,1.00)!important;
}

.nav-button-container {
  padding-top: 7px; 
  padding-bottom: 7px
}

.nav-button-name {
  margin-right:20px; 
  margin-left:20px
}

#nav-profile-button-container {
  display: none;
}

#nav-search-button-container {
  display: none;
}

#nav-logout-button-container {
  display: none;
}

#nav-signup-button-container {
  margin-bottom: 10px;
}

#signup-button {
  color:rgb(255,255,255); 
  background-color:rgb(29,161,242);
  border-color: rgba(255,255,255,0);
  transition-property: background-color, color, border-color;
  transition-duration: 0.2s;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  font-size: 19px;
  cursor: pointer;
}

#signup-button:hover {
  border-color: rgb(29,161,242);
  color:rgb(29,161,242); 
  background-color:rgb(255,255,255);
}


#nav-logged-icon-container {
  margin-bottom: 10px;
  display: none;
}

#nav-logged-icon-inner-container {
  max-width: 100%; 
  padding: 10px;
}

#nav-logged-icon-image-container {
  width: 50px; 
  height: 50px
}

#nav-logged-icon-text-container {
  max-width: 65%;
  margin-left: 10px; 
  margin-right: 10px; 
  font-size: 15px;
  overflow-wrap: break-word;
}

#nav-logged-icon-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
}

/*
==================
Map Messages Modal
==================
*/

.follow-button {
  height: 39px;
  transition-property: background-color;
  transition-duration: 0.2s;
  padding-left: 1em;
  padding-right: 1em;
  background-color:rgba(0, 0, 0, 0);
  border: 1px rgb(29, 161, 242) solid; 
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: rgba(29,161,242,1.00);
  max-width: 100%;
}

.follow-button:hover {
  background-color: rgba(29,161,242,0.1);
}

.follow-button-following {
  height: 39px;
  transition-property: background-color;
  transition-duration: 0.2s;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
  max-width: 100%;
  background-color:rgba(29,161,242,1.00);
  min-width: 100px;
}

.follow-button-following:hover {
  background-color:  rgb(224, 36, 94);
}

.map-marker-unfocus {
  background-color:rgba(29,161,242,1.00);
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border-width: 5px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 25px;
  position: absolute;
}

.map-marker-focus {
  background-color:white;
  background-size: contain;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(29,161,242,1.00);
  cursor: pointer;
  font-weight: bold;
  color: rgba(29,161,242,1.00);
  font-size: 25px;
  position: absolute;
}

.map-marker-inner-div {
  margin: 5px;
  min-width: 30px;
  min-height: 30px;
}

.modal.modal-rel {
  position: absolute;
  z-index: 51;
}

.modal-backdrop.modal-rel-backdrop {
  position: absolute;
  z-index: 50;
}

.map-coord-message-media {
  border-bottom: 1px solid #dee2e6;
}

#adapterUl:last-child {
  border: none;
}

#map-coord-messages-container {
  border-left: 1px rgb(230, 236, 240) solid;
  border-right: 1px rgb(230, 236, 240) solid;
  border-top: 1px rgb(230, 236, 240) solid;
  margin-top: 20px;
}

.filter-halo-div {
  transition-property: background-color; 
  transition-duration: 0.2s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: -8px;
}

.filter-halo-div:hover {
  background-color: rgba(29,161,242,0.1);
}

#filter-icon-container {
  transition-property: color; 
  transition-duration: 0.2s;
  position: relative; 
  margin-right: 10px;
  color: rgb(101, 119, 134);
}

#filter-icon-container:hover {
  color: rgb(29, 161, 242);
}

#filter-container {
  border-bottom: 1px gray solid; 
  padding: 10px;
  display: none;
}

#map-coord-refresh-button {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px rgb(29, 161, 242) solid;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#map-coord-refresh-button:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

/*
=======================
Map Coord Messages Like
=======================
*/

.map-coord-like-element {
  font-size: 15px;
  margin-top: 8px;
  display: inline-block;
  transition-duration: 0.2s;
  transition-property: background-color;
}

.map-coord-like-element:hover {
  color: rgb(224, 36, 94);
}

.like-svg-container {
  padding: 8px;
  margin-left: -8px;
  margin-right: 4px;
}

.like-svg-container-hover {
  background-color: rgba(224, 36, 94, 0.1);
  transition-duration: 0.2s;
  transition-property: background-color;
}

/*
==========================
Map Coord Messages Popover
==========================
*/

.popover .arrow {
  display: none;
}

.popover div {
  font-size: 15px;
}

.popover {
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  border-bottom-left-radius: 15px; 
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  flex-direction: column;display:flex;font-size: 15px;
  max-width: 100%;
}

.popover-body {
  padding: 0px;
}

.popover-container {
  padding: 15px;
  min-width: 300px;
}

.popover-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.popover-name-container {
  margin-top: 5px;
}

.popover-description-container {
  color: rgb(20, 23, 26);
  margin-top: 10px;
}

.popover-follow-container {
  margin-top: 10px;
}

.popover-follow-numbers-divider {
  margin-right: 20px;
}

/*
===============
Map Write Input
===============
*/

#map-write-input-section {
  display: none;
  background-color: white;
  position: absolute; 
  bottom: 17%; 
  left: 10%;
  width: 500px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
}

textarea, input[type='number']  {
  overflow: hidden!important;
  outline: none!important;

  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  background-color: transparent!important;

  resize: none!important; /* remove the resize handle on the bottom right */
}

#message-textarea-container {
  height: 100px;
}

#latitude-input, #longitude-input {
  font-size: 15px;
}

.icon-container {
  padding: 8px;
  font-size: 22px;
  transition-duration: 0.2s;
  transition-property: background-color;
  cursor: pointer;
}

.icon-container:hover {
  color: rgba(29,161,242,1.00);
}

.icon-halo-div {
  transition-property: background-color; 
  transition-duration: 0.2s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: -8px;
}

.icon-halo-div:hover {
  background-color: rgba(29,161,242,0.1);
}

.icon-clicked {
  color: rgba(29,161,242,1.00);
}

#create-message-button {
  padding: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);;
  background-color:rgba(29,161,242,1.00);
  transition-property: background-color;
  transition-duration: 0.2s;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#create-message-button:hover {
  background-color:  rgb(224, 36, 94);
}

#create-message-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

/*
================
Map Write Button
================
*/

#map-write-button-section {
  display: none;
}

#map-write-button-container {
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
  min-height: 50px; 
  min-width: 50px; 
  background-color: white; 
  position: absolute; 
  top: 85%; 
  left: 10%;
  font-size: 15px;
  cursor: pointer;
}

#map-write-button {
  display: inline-block;
  transition-property: color;
  transition-duration: 0.2s;
}

#map-write-button:hover {
  color: rgb(23, 191, 99);
}

.map-write-button-svg-container, .map-close-write-button-svg-container {
  padding: 8px;
  margin: 8px;
}

.map-write-button-svg-container-hover {
  background-color: rgba(23, 191, 99, 0.1);
  transition-duration: 0.2s;
  transition-property: background-color;
}

#map-write-button-message, #map-close-write-button-message {
  display: none;
  margin-right: 15px;
}

#map-close-write-button {
  display: none;
  transition-property: color;
  transition-duration: 0.2s;
}

#map-close-write-button:hover {
  color: rgb(224, 36, 94);
}

.map-close-write-button-svg-container-hover {
  background-color: rgba(224, 36, 94, 0.1);
  transition-duration: 0.2s;
  transition-property: background-color;
}

/*
========
Geocoder
========
*/

.geocoder {
  width: 100%;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  box-shadow: none!important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

  display: block;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*
==========
Login Page
==========
*/

.page-header {
  margin-top: 30px; 
  text-align: center; 
  font-size: 23px; 
  font-weight: bold
}

.login-input-container {
  padding: 10px 15px 10px 15px;
}

.login-input {
  outline-width: 0;
  padding: 2px 10px 5px 10px; 
  background-color: rgba(0, 0, 0, 0); 
  border-width: 0px;
  font-size: 19px; 
  color: rgb(20, 23, 26) 
}

.login-input-header {
  padding: 5px 10px 0px 10px;
  font-size: 15px;
}

.login-label {
  border-bottom-width: 2px; 
  border-color: rgb(101, 119, 134); 
  background-color: rgb(245, 248, 250); 
  border-bottom-style: solid; 
  border-bottom-left-radius: 2px; 
  border-bottom-right-radius: 2px; 
  border-top-left-radius: 2px; 
  border-top-right-radius: 2px;
}

#login-submit-button {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height: 50px; 
  background-color: rgb(29, 161, 242); 
  margin: 10px; 
  padding-left: 30px; 
  padding-right: 30px; 
}

#login-error-div {
  display: none;
  text-align: center;
}

/*
========================
Sign up Modal
========================
*/

.input-container {
  padding: 10px 15px 10px 15px;
}

.input-label {
  border-bottom-width: 2px; 
  border-color: rgb(101, 119, 134); 
  background-color: rgb(245, 248, 250); 
  border-bottom-style: solid; 
  border-bottom-left-radius: 2px; 
  border-bottom-right-radius: 2px; 
  border-top-left-radius: 2px; 
  border-top-right-radius: 2px;
  margin-bottom: 0px;
}

.input-header {
  padding: 5px 10px 0px 10px;
  font-size: 15px;
}

.input-input {
  outline-width: 0;
  padding: 2px 10px 5px 10px; 
  background-color: rgba(0, 0, 0, 0); 
  border-width: 0px;
  font-size: 19px; 
  color: rgb(20, 23, 26) 
}

.invalid-input-feedback {
  display: none;
}

#signup-submit-button {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height: 50px; 
  background-color: rgb(29, 161, 242); 
  margin: 10px; 
  padding-left: 30px; 
  padding-right: 30px; 
}

#signup-error-div {
  text-align: center;
  padding-bottom: 5px;
}

#signup-successful-div {
  text-align: center;
  padding-bottom: 5px;
}

/*
============
Profile Page
============
*/

.profile-navbar {
  height: 50px;
  border-bottom: 1px rgb(230, 236, 240) solid;
}

#profile-navbar-my-messages {
  color: rgb(29, 161, 242);
  border-bottom-color: rgb(29, 161, 242);
}

.profile-navbar-button-div {
  border-bottom: 2px rgba(0, 0, 0, 0) solid;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(101, 119, 134);
  font-weight: bold;
  font-size: 15px;
}

.profile-navbar-button-div:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgba(29,161,242,1.00);
}

.profile-image-container {
  position: relative;
  margin-bottom: -4px;
  margin-top: -25%;
  background-color: rgb(255, 255, 255);
  border: 20px rgba(29, 161, 242, 0.5) solid;
  overflow: hidden;
  height: 300px; 
  width: 300px;
}

#profile-page-image {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  width: 300px;
}

#edit-profile-button {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px rgb(29, 161, 242) solid;
  border-radius: 9999px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#edit-profile-button:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

/*
=======
Message
=======
*/

.message-count-span {
  font-size: 13px;
  padding-left: 10px;
  padding-right: 10px;
}

.message-halo-div {
  transition-property: background-color; 
  transition-duration: 0.2s;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: -8px;
}

.message-halo-div:hover {
  background-color: rgba(224, 36, 94, 0.1);
}

.message-icon-container {
  transition-property: color;
  transition-duration: 0.2s;
  color: rgb(101, 119, 134);
  cursor: pointer;
  max-height: 15px;
}

.message-icon-container:hover {
  color: rgb(224, 36, 94);
}

.message-image-container {
  min-width: 50px; 
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  height: 50px; 
  width: 50px;
}

.message-article {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(230, 236, 240);
  font-size: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px
}

.message-image {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  height: 50px;
  width: 50px;
}

/*
==================
Edit Profile Modal
==================
*/

#edit-profile-submit-button {
  text-align: center;
  font-weight: bold;
  color: rgb(255, 255, 255);
  min-height: 50px; 
  background-color: rgb(29, 161, 242); 
  margin: 10px; 
  padding-left: 30px; 
  padding-right: 30px; 
}

#edit-profile-error-div {
  text-align: center;
  padding-bottom: 5px;
}

#edit-profile-successful-div {
  text-align: center;
  padding-bottom: 5px;
}

#edit-profile-image {
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  height: 150px;
  width: 150px;
  filter: brightness(50%) saturate(140%);
  background-color: rgb(230, 236, 240);
}

#edit-profile-image-input {
  width: 0px;
  height: 0px;
}

.edit-profile-image-input-container {
  cursor: pointer; 
  color: white;
  font-size: 30px;
  font-weight: bold;
}

#edit-profile-image-input-container {
  margin-bottom: 10px;
}

#edit-profile-error-div, #edit-profile-successful-div {
  display: none;
}

/*
===========
Search Page
===========
*/

#search-form {
  background-color: rgb(230, 236, 240);
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 9999px;
}

#search-input {
  outline: none;
  text-align: left;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border-radius: 0px;
  border-width: 0px;
  padding: 10px 10px 10px 10px;
  font-weight: 400;
}

#search-svg {
  color: rgb(101, 119, 134);
  min-width: 30px;
  max-width: 100%;
}

#search-result-section {
  width: 700px;
}

.search-user-article:first-of-type {
  border-top: 1px rgb(230, 236, 240) solid;
}

.search-user-article {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: rgb(230, 236, 240);
  font-size: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px
}

.search-user-container {
  padding: 15px;
  min-width: 300px;
}

.search-user-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.search-user-name-container {
  margin-top: 5px;
}

.search-user-description {
  color: rgb(20, 23, 26);
  margin-top: 10px;
}

.search-user-follow-container {
  margin-top: 10px;
}

.search-user-follow-numbers-divider {
  margin-right: 20px;
}